/* styles.css */

/* Select the elements you want to style by their class or tag */
h1 {
    /* Set the desired font-family */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-style: bold;
    /* Align text to the middle */
    text-align: left;
  }
  
h2 {
    /* Set the desired font-family */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    /* Align text to the middle */
    text-align: left;
  }

h3 {
    /* Set the desired font-family */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
  }


p {
    /* Set the desired font-family */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    text-align: left;
  }

#Total_text{
  font-weight: bold;
}

/* WRAPPERS  */
.section-wrapper{
  margin-left: 25%;
  margin-right: 25%;
}

.result-wrapper{
  margin-left: 10%;
  margin-right: 10%;
}

.clear-wrapper{
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
  text-align: center;
}

/* MISCHALENEOUS */
button.model {
  margin-left: 2px;
  margin-right: 2px;
}

label {
  margin-bottom: 5px;
}

input.config_slider {
  margin-left: 2px;
  margin-right: 2px;
}

#Nav_bar {
  align-content: center;
}

button.nav-bar-button{
  margin-left: 2px;
  margin-right: 2px;
}

#upload-status {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-top: 0.5%;
}

#result {
  text-align: center;
}

/*
SLIDERS
*/
#sliders form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#sliders form p {
  width: 30%; 
  margin: 10px; /* Add some margin between sliders */
}

#sliders form input {
  width: 15%;
}

/*
MODEL BUTTONS
*/
#Model_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#Model_buttons button {
  width: 30%; 
  margin: 10px;
}


/*
EVAL AND EXPORT
*/
#eval_and_export {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#eval_and_export .section-wrapper {
  width: 30%; 
  margin: 5px;
}

/* 
Report 
*/

#M4_results {
  margin-left: 15%;
  margin-right: 15%;
}