/* styles.css */

/* Select the elements you want to style by their class or tag */
h1 {
    /* Set the desired font-family */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-style: bold;
    /* Align text to the middle */
    text-align: left;
  }
  
h2 {
    /* Set the desired font-family */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    /* Align text to the middle */
    text-align: left;
  }

h3 {
    /* Set the desired font-family */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
  }


p {
    /* Set the desired font-family */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    text-align: left;
  }

.section-wrapper{
  margin-left: 25%;
  margin-right: 25%;
}

.result-wrapper{
  margin-left: 10%;
  margin-right: 10%;
}

button.model {
  margin-left: 2px;
  margin-right: 2px;
}

label {
  margin-bottom: 5px;
}

input.config_slider {
  margin-left: 2px;
  margin-right: 2px;
}

#Nav_bar {
  align-content: center;
}

button.nav-bar-button{
  margin-left: 2px;
  margin-right: 2px;
}

#upload-status {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-top: 0.5%;
}

#result {
  text-align: center;
}

