<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dissertation Playground</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Dissertation Playground</h1>
    <h2>Traditional vs ML methods in Timeseries Forecasting</h2>
    <h3>A playground to explore the different available models and pick which one suits best for your application</h3>
    <div id="Nav_bar">
    <button class="nav-bar-button" id="Home_nav_button">Home</button>
    <button class="nav-bar-button" id="About_nav_button">About</button>
    <button class="nav-bar-button" id="Report_nav_button">Report</button>
    </div>
    <hr>

    <!-- <input type="file" accept=".csv, .txt"> -->
    <h3>Upload a snapshot of your dataset</h3>
    <form id="upload-form" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv, .txt">
        <input type="submit" value="Upload File">
    </form>

    <div id="upload-status"></div>
    
    <br><br>

    <h3 class="Model_title">Experiment</h3>
    <div id="Model_buttons">
    <button class='model' id='model_button' onclick="callFunction('traditional_models')">Traditional methods</button>
    <button class='model' id='model_button' onclick="callFunction('ml_models')">Machine Learning models</button>
    <button class='model' id='model_button' onclick="callFunction('naive_methods')">Naive methods</button>
    
    </div>

    <br><br>
    <!-- Model Help Modal -->
    <button class="button open-button" id="hover-element">Read More</button>
    <dialog class="modal", id="modal">
        <h2>The models</h2>
        <h3>Traditional</h3>
        <p>ARIMA</p>
        <p>Theta</p>
        <p>ETS - Exponential Smoothing</p>
        <h3>Machine Learning Models</h3>
        <p>Prophet</p>
        <p>LightGBM</p>
        <button class="button close-button">Close</button>
    </dialog>
    
    <br><br>
    <h3>Results</h3>
    <button onclick="clearAdditionalElements('clear_results')">Clear results</button>
    <br><br>
    
    
    <!-- EXPORT -->
    <button onclick="exportResults('export_results')">Export Results</button>
    <a href="/Exports/output.txt" download="GFG">
        <button type="button">Download</button>
    </a>
    
    <div id="export"></div>
    <br><br>
    <hr>
    <div id="result"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Navbar -->
    <script type="text/javascript">
        document.getElementById("Home_nav_button").onclick = function () {
            location.href = "{{ url_for('index') }}";
        };

        document.getElementById("About_nav_button").onclick = function () {
            location.href = "{{ url_for('about') }}";
        };

        document.getElementById("Report_nav_button").onclick = function () {
            location.href = "{{ url_for('report') }}";
        };
    </script>

    <script>

        // Event listener for the form submission
        document.getElementById('upload-form').addEventListener('submit', function (e) {

            var formData = new FormData(this); // Create a FormData object
            e.preventDefault(); // Prevent the form from submitting normally
            // Send an AJAX request to handle the file upload
            $.ajax({
                type: 'POST',
                url: '/upload-form',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    // Update the upload status div with the response message
                    document.getElementById('upload-status').innerHTML = response.message;
                },
                error: function (error) {
                    console.error("Error: " + JSON.stringify(error));
                }
            });
        });

        document.getElementById('model_button').addEventListener('mouseover', function() {
            // Fetch the contents of "sample.txt" and set the title attribute
            const currentContent = document.getElementById(elementId).textContent;
            const buttonId = document.getElementsByClassName(elementId).elementId;
            fetchAndSetTitle(currentContent, buttonId);
        });


        // Read more button
        const modal = document.querySelector('#modal');
        const openModal = document.querySelector('.open-button');
        const closeModal = document.querySelector('.close-button');

        openModal.addEventListener('click',()=>{
            modal.showModal();
        })

        closeModal.addEventListener('click',()=>{
            modal.close();
        })

        // Function that communicates with python
        function callFunction(functionName) {
            console.log("Calling function: " + functionName);
            $.ajax({
                type: 'POST',
                url: '/' + functionName,
                success: function(response) {
                    console.log("Response: " + response.result);
                    document.getElementById('result').innerHTML = response.result + '<br>';
                },
                error: function(error) {
                    console.error("Error: " + JSON.stringify(error));
                }
            });
        }

         // Function that communicates with python
         function uploadFile(functionName) {
            console.log("Calling function: " + functionName);
            $.ajax({
                type: 'POST',
                url: '/' + functionName,
                success: function(response) {
                    console.log("Response: " + response.result);
                    document.getElementById('upload-status').innerHTML += response.result + '<br>';
                },
                error: function(error) {
                    console.error("Error: " + JSON.stringify(error));
                }
            });
        }

        // TODO 
        function exportResults(functionName) {
            // Implement export functionality here if needed
            console.log("Calling function: " + functionName);
            $.ajax({
                type: 'POST',
                url: '/' + functionName,
                success: function(response) {
                    console.log("Response: " + response.result);
                    document.getElementById('export').innerHTML += response.result + '<br>';
                },
                error: function(error) {
                    console.error("Error: " + JSON.stringify(error));
                }
            });
        }

        // Returning to the original state
        function clearAdditionalElements(functionName) {
            console.log("Calling function: " + functionName);
            $.ajax({
                type: 'POST',
                url: '/' + functionName,
                success: function(response) {
                    console.log("Response: " + response.result);
                    var resultDiv = document.getElementById('result');
                    // Clear its content
                    resultDiv.innerHTML = '';
                },
                error: function(error) {
                    console.error("Error: " + JSON.stringify(error));
                }
            });
        }

        fetch("static/sample.txt")
        .then(response => response.text())
        .then(data => {
            // Set the title attribute using the fetched data
            document.getElementById('hover-element').title = data;
        })

        

    </script>
</body>
</html>
