<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dissertation Playground</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="section-wrapper" id="Heading">
        <h1>Dissertation Playground</h1>
        <h2>Traditional vs ML methods in Timeseries Forecasting</h2>
        <h3>A playground to explore the different available models and pick which one suits best for your application</h3>
        <div id="Nav_bar">
            <button class="nav-bar-button" id="Home_nav_button">Home</button>
            <button class="nav-bar-button" id="About_nav_button">About</button>
            <button class="nav-bar-button" id="Report_nav_button">Report</button>
        </div>
        <hr>
    </div>
    

    <!-- <input type="file" accept=".csv, .txt"> -->
    <div class="section-wrapper" id="input">
        <h3>Upload a snapshot of your dataset</h3>
        <form id="upload-form" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv, .txt">
            <input type="submit" value="Upload File">
        </form>
        <div id="upload-status"></div>
    </div>
    
    <br><br>
    
    <div class="section-wrapper" id="sliders">
        <form id="sliderForm">
            <p><span id="slider_1_value">Accuracy: </span></p>
            <input type="range" id="accuracy_slider" class="config_slider" name="slider1" min="0" max="10" step="1" value="0" oninput="updateSliders()">
            <br>

            <p><span id="slider_2_value">Outliers: </span></p>
            <input type="range" id="outliers_slider" class="config_slider" name="slider2" min="0" max="10" step="1" value="0" oninput="updateSliders()">

            <p><span id="slider_3_value">Shape similarity: </span></p>
            <input type="range" id="shape_slider" class="config_slider" name="slider3" min="0" max="10" step="1" value="0" oninput="updateSliders()">

            <p><span id="slider_4_value">Execution time: </span></p>
            <input type="range" id="time_slider" class="config_slider" name="slider4" min="0" max="10" step="1" value="0" oninput="updateSliders()">

            <p><span id="slider_5_value">Improvement over naive methods: </span></p>
            <input type="range" id="naive_slider" class="config_slider" name="slider5" min="0" max="10" step="1" value="0" oninput="updateSliders()">


            <p>Total: <span id="total">0</span></p>
            <input type="submit" value="Submit">
        </form>
    </div>

    <br><br>

    <div class="section-wrapper" id="experiment">
        <h3 class="Model_title">Experiment</h3>
        <div id="Model_buttons">
        <button class='model' id='model_button' onclick="callFunction('traditional_models')">Traditional methods</button>
        <button class='model' id='model_button' onclick="callFunction('ml_models')">Machine Learning models</button>
        <button class='model' id='model_button' onclick="callFunction('naive_methods')">Naive methods</button>
        </div>
    </div>

    <br><br>

    <div class="section-wrapper" id="results">
        <h3>Results</h3>
        <button onclick="clearAdditionalElements('clear_results')">Clear results</button>
    </div>

    <br><br>
    
    <!-- EXPORT -->
    <div class="section-wrapper" id="export">
        <button onclick="exportResults('export_results')">Export Results</button>
        <a href="/Exports/output.txt" download="GFG">
            <button type="button">Download</button>
        </a>
    </div>
    
    <div class="section-wrapper" id="export"></div>
    <br><br>
    
    <div class="section-wrapper" id="result">
        <hr>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Navbar -->
    <script type="text/javascript">
        document.getElementById("Home_nav_button").onclick = function () {
            location.href = "{{ url_for('index') }}";
        };

        document.getElementById("About_nav_button").onclick = function () {
            location.href = "{{ url_for('about') }}";
        };

        document.getElementById("Report_nav_button").onclick = function () {
            location.href = "{{ url_for('report') }}";
        };
    </script>

    <!-- Controlling sliders  -->
    <script>
        function updateSliders() {
            var accuracy_slider = parseInt(document.getElementById("accuracy_slider").value);
            var outliers_slider = parseInt(document.getElementById("outliers_slider").value);
            var shape_slider = parseInt(document.getElementById("shape_slider").value);
            var time_slider = parseInt(document.getElementById("time_slider").value);
            var naive_slider = parseInt(document.getElementById("naive_slider").value);

            document.getElementById("slider_1_value").innerText = "Accuracy: "  + accuracy_slider;
            document.getElementById("slider_2_value").innerText = "Outliers: "  + outliers_slider;
            document.getElementById("slider_3_value").innerText = "Shape similarity: "  + shape_slider;
            document.getElementById("slider_4_value").innerText = "Execution time: "  + time_slider;
            document.getElementById("slider_5_value").innerText = "Improvement over naive methods: "  + naive_slider;

            if (total > 10){
                document.getElementById("total").innerText = total + " !";
            }
            else {
                document.getElementById("total").innerText = total;
            }
        }
    </script>

    <script>
        // Event listener for the sliders
        document.getElementById('sliderForm').addEventListener('submit', function (e) {

        var formData = new FormData(this); // Create a FormData object
        e.preventDefault(); 
        $.ajax({
            type: 'POST',
            url: '/slider-form',
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                console.log(response.message)
            },
            error: function(response) {
                console.log(response.message)
            }
        });
        });

    </script>

    <script>

        // Event listener for the form submission
        document.getElementById('upload-form').addEventListener('submit', function (e) {

            var formData = new FormData(this); // Create a FormData object
            e.preventDefault(); // Prevent the form from submitting normally
            // Send an AJAX request to handle the file upload
            $.ajax({
                type: 'POST',
                url: '/upload-form',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    // Update the upload status div with the response message
                    document.getElementById('upload-status').innerHTML = response.message;
                },
                error: function(response) {
                    // console.error("Error: " + JSON.stringify(error));
                    document.getElementById('upload-status').innerHTML = response.message;
                }
            });
        });

        // Function that communicates with python
        function callFunction(functionName) {
            console.log("Calling function: " + functionName);
            $.ajax({
                type: 'POST',
                url: '/' + functionName,
                success: function(response) {
                    console.log("Response: " + response.result);
                    document.getElementById('result').innerHTML = response.result + '<br>';
                },
                error: function(error) {
                    console.error("Error: " + JSON.stringify(error));
                }
            });
        }

        document.getElementById('model_button').addEventListener('mouseover', function() {
            // Fetch the contents of "sample.txt" and set the title attribute
            const currentContent = document.getElementById(elementId).textContent;
            const buttonId = document.getElementsByClassName(elementId).elementId;
            fetchAndSetTitle(currentContent, buttonId);
        });


        // Read more button
        const modal = document.querySelector('#modal');
        const openModal = document.querySelector('.open-button');
        const closeModal = document.querySelector('.close-button');

        openModal.addEventListener('click',()=>{
            modal.showModal();
        })

        closeModal.addEventListener('click',()=>{
            modal.close();
        })

         // Function that communicates with python
         function uploadFile(functionName) {
            console.log("Calling function: " + functionName);
            $.ajax({
                type: 'POST',
                url: '/' + functionName,
                success: function(response) {
                    console.log("Response: " + response.result);
                    document.getElementById('upload-status').innerHTML += response.result + '<br>';
                },
                error: function(error) {
                    console.error("Error: " + JSON.stringify(error));
                }
            });
        }

        // TODO 
        function exportResults(functionName) {
            // Implement export functionality here if needed
            console.log("Calling function: " + functionName);
            $.ajax({
                type: 'POST',
                url: '/' + functionName,
                success: function(response) {
                    console.log("Response: " + response.result);
                    document.getElementById('export').innerHTML += response.result + '<br>';
                },
                error: function(error) {
                    console.error("Error: " + JSON.stringify(error));
                }
            });
        }

        // Returning to the original state
        function clearAdditionalElements(functionName) {
            console.log("Calling function: " + functionName);
            $.ajax({
                type: 'POST',
                url: '/' + functionName,
                success: function(response) {
                    console.log("Response: " + response.result);
                    var resultDiv = document.getElementById('result');
                    // Clear its content
                    resultDiv.innerHTML = '';
                },
                error: function(error) {
                    console.error("Error: " + JSON.stringify(error));
                }
            });
        }

        fetch("static/sample.txt")
        .then(response => response.text())
        .then(data => {
            // Set the title attribute using the fetched data
            document.getElementById('hover-element').title = data;
        })

        

    </script>
</body>
</html>
